# Contadores

<font color='magenta'>__\o/ Surpresaaa:     
    Vamos aprender um macete, mais simples do que usar o drop_duplicates()__</font>

In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asdaesdaesdasesda'))
s

0     a
1     s
2     d
3     a
4     e
5     s
6     d
7     a
8     e
9     s
10    d
11    a
12    s
13    e
14    s
15    d
16    a
dtype: object

In [3]:
# Checando os valores únicos
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [4]:
# Quero saber quantas vezes usei as letras descritas acima, uma distribuição de frequências
s.value_counts()

a    5
s    5
d    4
e    3
dtype: int64

In [5]:
# Vamos abrir um arquivo de mesmo nome, mas apenas parecido com o do projeto anterior
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [6]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
5,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
6,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
7,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
8,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
9,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,Apartamento

In [7]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [10]:
"""
Com este macete o nosso relatório anterior (para contar registros por Tipo)
ficaria concluído bem mais rápido :-)
"""
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64

## Exercícios

#### 01 - Testando moedas

Suponha que estejamos testando as moedas que serão utilizadas por árbitros de futebol nas competições da Copa do Mundo.    
Atualmente, estas moedas são personalizadas e utilizadas em certos momentos dos jogos para decidir,    
na sorte, uma disputa. Nosso objetivo é verificar se as moedas que serão utilizadas nas competições não são viciadas.

Para isso testes foram realizados com cinco moedas e os resultados foram os seguintes:

In [11]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

Acima, temos o resultado de 50 lançamentos de cada moeda (m1, m2, m3, m4 e m5), onde c representa a ocorrência do evento CARA e C representa a ocorrência do evento COROA.

Para tirarmos nossas conclusões, precisamos montar o seguinte DataFrame:
```
	Faces	m1	m2	m3	m4	m5
C	Coroa	Freq. C	Freq. C	Freq. C	Freq. C	Freq. C
c	Cara	Freq. c	Freq. c	Freq. c	Freq. c	Freq. c
```
Onde Freq. C e Freq. c são, respectivamente, as frequências de COROAS e de CARAS em cada teste.

Assinale a opção que mostra o código necessário para realizar tal tarefa.

In [24]:
# Alternativa A: Alternativa errada!
"""
A forma de criação do DataFrame de eventos não está correta. Utilize list() para criar uma listagem de caracteres a partir de uma string.

eventos = {'m1': m1,
            'm2': m2,
            'm3': m3,
            'm4': m4,
            'm5': m5}
moedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ['Cara', 'Coroa'],
                    index = ['c', 'C'],
                    columns = ['Faces'])
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()],
                    axis = 1)
df
"""

"\nA forma de criação do DataFrame de eventos não está correta. Utilize list() para criar uma listagem de caracteres a partir de uma string.\n\neventos = {'m1': m1,\n            'm2': m2,\n            'm3': m3,\n            'm4': m4,\n            'm5': m5}\nmoedas = pd.DataFrame(eventos)\ndf = pd.DataFrame(data = ['Cara', 'Coroa'],\n                    index = ['c', 'C'],\n                    columns = ['Faces'])\nfor item in moedas:\n    df = pd.concat([df, moedas[item].value_counts()],\n                    axis = 1)\ndf\n"

In [23]:
# Alternativa B: Alternativa correta!
"""
Observe que value_counts() é uma funcionalidade aplicável somente a Series e, por isso, precisamos executar o código para cada coluna do DataFrame, individualmente.
"""

eventos = {'m1': list(m1),
            'm2': list(m2),
            'm3': list(m3),
            'm4': list(m4),
            'm5': list(m5)}
moedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ['Cara', 'Coroa'],
                    index = ['c', 'C'],
                    columns = ['Faces'])
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()],
                    axis = 1)
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25

In [22]:
# Alternativa C: Alternativa errada!
"""
O método sum() gera uma concatenação quando aplicado em variáveis tipo string.

eventos = {'m1': list(m1),
            'm2': list(m2),
            'm3': list(m3),
            'm4': list(m4),
            'm5': list(m5)}
moedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ['Cara', 'Coroa'],
                    index = ['c', 'C'],
                    columns = ['Faces'])
for item in moedas:
    df = pd.concat([df, moedas[item].sum()],
                    axis = 1)
df
"""

"\nO método sum() gera uma concatenação quando aplicado em variáveis tipo string.\n\neventos = {'m1': list(m1),\n            'm2': list(m2),\n            'm3': list(m3),\n            'm4': list(m4),\n            'm5': list(m5)}\nmoedas = pd.DataFrame(eventos)\ndf = pd.DataFrame(data = ['Cara', 'Coroa'],\n                    index = ['c', 'C'],\n                    columns = ['Faces'])\nfor item in moedas:\n    df = pd.concat([df, moedas[item].sum()],\n                    axis = 1)\ndf\n"

In [20]:
# Alternativa D: Alternativa errada!
"""
Observe que o DataFrame df não foi previamente definido.
"""

eventos = {'m1': list(m1),
            'm2': list(m2),
            'm3': list(m3),
            'm4': list(m4),
            'm5': list(m5)}
moedas = pd.DataFrame(eventos)
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], 
                    axis = 1)
df

,Faces,m1,m2,m3,m4,m5,m1,m2,m3,m4,...,m1,m2,m3,m4,m5,m1,m2,m3,m4,m5
c,Cara,25,26,19,23,25,25,26,19,23,...,25,26,19,23,25,25,26,19,23,25
C,Coroa,25,24,31,27,25,25,24,31,27,...,25,24,31,27,25,25,24,31,27,25

## Fim