# Organizando DataFrames (Sort)

In [11]:
import pandas as pd

In [12]:
# Criando uma lista de listas
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
# Criando uma lista a partir de uma string
list('321')

['3', '2', '1']

In [16]:
# Criando um DF e utilizando as listas criadas anteriormente como index e nomes das colunas
df = pd.DataFrame(data, list('321'), list('ZYX'))
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

__Para que o método sort_index() modifique o DataFrame, o argumento inplace deve ser modificado para True.__

In [17]:
# Organizando definitivamente o index
df.sort_index(inplace = True)

In [18]:
df

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3

In [19]:
# Organizando definitivamente as colunas
df.sort_index(inplace = True, axis = 1)

In [20]:
df

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

In [21]:
# Utilizando o sort_values()
# Podemos sortear por uma variável ou por um grupo de variáveis, passando pra ela o parâmetro 'by'
df.sort_values(by = 'X', inplace = True)
df

# Agora temos a ordem sorteada com base no X
# Ou seja, voltamos ao estado anterior

   X  Y  Z
3  3  2  1
2  6  5  4
1  9  8  7

In [22]:
df.sort_values(by = '3', axis = 1, inplace = True)
df

# Agora organizamos com base na linha 3, voltando a um estado conhecido, conforme exemplo anterior

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [23]:
# Podemos passar uma lista com mais de uma coluna.
# Neste caso, teremos o mesmo resultado
df.sort_values(by = ['X', 'Y'], inplace = True)
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

## Fim